.hon{
    display:block;
    border-style:solid;
    border-color:#98F5FF;
    border-radius:6px;
    color:#ffffff;
    background-color:#6495ED;
    width:300px;
    text-align:left;
    text-decoration:none;
    text-align:center;
  }